:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --swiper-theme-color: #5f82f8;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;

  --swiper-displays: block;
}

html {
  scroll-behavior: smooth;
}

.swiper-pagination,
.swiper-button-next:not(.swiper-button-lock),
.swiper-button-prev:not(.swiper-button-lock) {
  display: var(--swiper-displays);
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}