@import url("https://fonts.googleapis.com/css2?family=Acme&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-white bg-background-900 min-h-screen;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display mb-3;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --swiper-theme-color: #5f82f8;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;

  --swiper-displays: block;
}

html {
  scroll-behavior: smooth;
}

.swiper-pagination,
.swiper-button-next:not(.swiper-button-lock),
.swiper-button-prev:not(.swiper-button-lock) {
  display: var(--swiper-displays);
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}
